# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (not used, but ignore if added later)
Pods/
Carthage/Build/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
